---
import Badge from '../components/Badge.astro';
import Layout from '../layouts/Layout.astro';
import LinkedInIcon from '../components/icons/LinkedIn.astro';
import GithubIcon from '../components/icons/Github.astro';
import SocialPill from '../components/SocialPill.astro';
import MailIcon from '../components/icons/Mail.astro';
import Experience from '../components/Experience.astro';
import SectionContainer from '../components/SectionContainer.astro';
import Briefcase from '../components/icons/Briefcase.astro';
import CodeIcon from '../components/icons/Code.astro';
import Projects from '../components/Projects.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Portfolio de Chris - Desarrollador Full Stack">
    <main class="px-4">
        <SectionContainer class="py-44 pb-32">
            <img class="rounded-full size-12 mb-4" src="/chris-photo.png" alt="chris-photo">
            <h1 class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10"> Hola, soy Chris Montes 
            <a href="https://www.linkedin.com/in/ChristopherMontes158" 
                target="_blank" 
                rel="noopener noreferrer"
                class="flex justify-center items-center"
                >
                <Badge>Disponible para trabajar</Badge>
            </a>
            </h1>  
            <h2 class="text-xl lg:text-2xl text-wrap max-w-[700px]"><span class="text-yellow-200/90">Desarrollador Full Stack</span> <span class="opacity-80">con pasión por crear experiencias web interactivas y visualmente atractivas. Me especializo en tecnologías como HTML, CSS, JavaScript y React. </span></h2>

           <nav id="contacto" class="flex gap-4 mt-8 flex-wrap">
            <SocialPill href="https://www.linkedin.com/in/ChristopherMontes158">
                <LinkedInIcon class="size-4 md:size-6"/>
                LinkedIn
            </SocialPill>
            <SocialPill href="https://github.com/zeuschris">
                <GithubIcon class="size-4 md:size-6"/>
                Github
            </SocialPill>
            <SocialPill href="mailto:zeuschris123@gmail.com?subject=Hola%20Chris&body=Tengo%20una%20pregunta%20sobre...">
                <MailIcon class="size-4 md:size-6"/>
                zeuschris123@gmail.com
            </SocialPill>
           </nav>
        </SectionContainer>

        <SectionContainer id="experiencia">
            <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
                <Briefcase class="size-7"/>
                Experiencia Laboral
            </h2>
            <Experience/>
        </SectionContainer>

        <SectionContainer id="proyectos">
            <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
                <CodeIcon class="size-7"/>
                Proyectos
            </h2>
            <Projects/>
        </SectionContainer>
    </main>
</Layout>
