---
import ExperienceItem from "./ExperienceItem.astro"

const EXPERIENCIE = [
    {
        date:'Noviembre 2024',
        title: 'Desarrollador Frotend',
        description: `Desarrollé y diseñé tiendas e-commerce desde cero utilizando Astro, React y Tailwind CSS. Creé componentes reutilizables, optimicé la velocidad de carga y aseguré una experiencia de usuario fluida y responsiva. 
        **Tecnologías usadas**: React, Astro, Tailwind CSS.
        Implementación de un sistema de carrito de compras interactivo
        Mejora del rendimiento con optimizaciones específicas (carga rápida, SEO)`,
    },
    {
        date:'Mayo 2024',
        title: 'Desarrollador Frontend React',
        description: `Colaboré en el desarrollo y mantenimiento de sitios web, trabajando en la mejora de interfaces y optimización del rendimiento. Implementé actualizaciones regulares y aseguré la compatibilidad entre navegadores. 
        **Tecnologías usadas**: HTML, CSS, JavaScript.`,
    },
    {
        date:'Diciembre 2023',
        title: 'Desarrollador Frontend',
        description: `Durante mi aprendizaje en la academia, trabajé en varios proyectos donde pude aplicar las mejores prácticas de desarrollo frontend. En el proyecto de una tienda en línea simulada, desarrollé la estructura básica y optimicé la experiencia de usuario.
        Implementación de una galería de productos con filtrado dinámico usando JavaScript.
        Creación de un formulario de contacto interactivo con validación en el lado del cliente.`
    }
]
---

<ol class="relative border-s border-gray-200 ml-3">  
   {
    EXPERIENCIE.map((experiencie) => (
        <li class="mb-10 ms-4">
            <ExperienceItem {...experiencie}/>
        </li>
    ))
   }
</ol>

